:root {
    --backgroundColor: #EEF1FA;
    --elementColor: #F1F0FE;
    --grayColor: #E6E8F2;
    --whiteColor: #fff;
    --fontColor: #383874;
    --fontColor2: #B8B4CB;
    --buttonColor: #6266eb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Display', sans-serif;
}

html {
    background-color: var(--backgroundColor);
}

#sideMenu {
    height: 100%;
    width: 250px;
    background-color: white;
    position: fixed;
}

#content {
    min-height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--backgroundColor);
    position: absolute;
    right: 0;
    padding: 2.5rem;
}

#sideMenu h1 {
    margin-top: 5rem;
    color: var(--buttonColor);
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#sideMenu .pageMenu {
    margin-top: 3rem;
    width: 80%;
    /* background-color: bisque; */
    position: relative;
    left: 10%;
}

#sideMenu .pageMenu .navBtn {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 0.65rem;
}

#sideMenu .pageMenu .navBtn.selected {
    background-color: var(--elementColor);
}

#sideMenu .pageMenu .navBtn.selected::after {
    content: '';
    position: absolute;
    width: 0.65rem;
    height: 4rem;
    border-radius: 0.65rem 0 0 0.65rem;
    background-color: var(--buttonColor);
}

#sideMenu .pageMenu .navBtn span {
    margin-left: 2rem;
    color: var(--fontColor2);
    font-weight: 600;
    font-size: 1.1rem;
}

#sideMenu .pageMenu .navBtn.selected span {
    color: var(--buttonColor);
}

#content .pageTitle {
    color: var(--fontColor);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.devider {
    width: 100%;
    height: 3px;
    background-color: var(--grayColor);
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.container {
    display: flex;
    gap: 2.5rem;
}

#overview {
    /* background-color: red; */
    width: 100%;
}

#overview .subtitle {
    margin-bottom: 1rem;
}

.element {
    width: 100%;
    position: relative;
}

#status {
    /* background-color: blue; */
    width: 100%;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.subtitle {
    font-weight: 500;
    color: var(--fontColor);
    font-size: 1.25rem;
}

.card {
    background-color: var(--whiteColor);
    border-radius: 0.65rem;
    padding: 1.25rem;
}

#overviewGraphic {
    position: relative;
    aspect-ratio: 1 / 1;
}

#overviewGraphic>* {
    position: absolute;
}

.overviewCircles {
    width: 100%;
    height: 100%;
}

.overviewCircles .circle {
    background-color: var(--elementColor);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#batteryOverview {
    right: 0;
}

#inverterOverview {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#gridOverview {
    bottom: 0;
}

#houseOverview {
    right: 0;
    bottom: 0;
}

.overviewCircles .svgClass {
    padding: 0.5rem;
}

.overviewCircles .data {
    color: var(--fontColor);
}

.connections {
    height: calc(100% - 7rem);
    width: calc(100% - 7rem);
    /* background-color: red; */
    left: 3.5rem;
    top: 3.5rem;
}

.line {
    stroke: var(--elementColor);
    stroke-width: 1.5%;
}

.statusCircles {
    display: flex;
    align-items: center;
}

.statusCircle {
    background-color: red;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-left: 1rem;
}

#stats {
    height: calc(100% - 6.25rem);
    position: absolute;
    width: 100%;
    color: var(--fontColor2);
}

#stats table tr td {
    width: 100%;
    color: var(--fontColor2);
    font-size: 1.25rem;
    height: 2rem;
}

#stats table td:nth-child(2) {
    text-align: end;
}

#stats .subtitle {
    margin-bottom: 1rem;
}