:root {
    --backgroundColor: #EEF1FA;
    --elementColor: #F1F0FE;
    --grayColor: #E6E8F2;
    --whiteColor: #fff;
    --fontColor: #383874;
    --fontColor2: #B8B4CB;
    --buttonColor: #6266eb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Display', sans-serif;
}

html {
    background-color: var(--backgroundColor);
}

#sideMenu {
    height: 100%;
    width: 250px;
    background-color: white;
    position: fixed;
    display: block;
}

#content {
    min-height: 100vh;
    width: calc(100vw - 250px);
    background-color: var(--backgroundColor);
    position: absolute;
    right: 0;
    padding: 2.5rem;
}

#sideMenu h1 {
    margin-top: 5rem;
    color: var(--buttonColor);
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#sideMenu .pageMenu {
    margin-top: 3rem;
    width: 80%;
    /* background-color: bisque; */
    position: relative;
    left: 10%;
}

#sideMenu .pageMenu .navBtn {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 0.65rem;
}

#sideMenu .pageMenu .navBtn.selected {
    background-color: var(--elementColor);
}

#sideMenu .pageMenu .navBtn.selected::after {
    content: '';
    position: absolute;
    width: 0.65rem;
    height: 4rem;
    border-radius: 0.65rem 0 0 0.65rem;
    background-color: var(--buttonColor);
}

#sideMenu .pageMenu .navBtn span {
    margin-left: 2rem;
    color: var(--fontColor2);
    font-weight: 600;
    font-size: 1.1rem;
}

#sideMenu .pageMenu .navBtn.selected span {
    color: var(--buttonColor);
}

#content .pageTitle {
    color: var(--fontColor);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.devider {
    width: 100%;
    height: 3px;
    background-color: var(--grayColor);
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.container {
    display: flex;
    gap: 2.5rem;
}

#overview {
    /* background-color: red; */
    width: 100%;
}

#overview .title {
    margin-bottom: 1rem;
}

.element {
    width: 100%;
    position: relative;
}

#status {
    /* background-color: blue; */
    width: 100%;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.subtitle {
    font-weight: 500;
    color: var(--fontColor);
    font-size: 1.25rem;
    height: 1.5rem;
}

.card {
    background-color: var(--whiteColor);
    border-radius: 0.65rem;
    padding: 1.25rem;
}

#overviewGraphic {
    position: relative;
    aspect-ratio: 1 / 1;
}

#overviewGraphic>* {
    position: absolute;
}

.overviewCircles {
    width: 100%;
    height: 100%;
}

.overviewCircles .circle {
    background-color: var(--elementColor);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#batteryOverview {
    right: 0;
}

#inverterOverview {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#gridOverview {
    bottom: 0;
}

#houseOverview {
    right: 0;
    bottom: 0;
}

.overviewCircles .svgClass {
    padding: 0.5rem;
}

.overviewCircles .data {
    color: var(--fontColor);
}

.connections {
    height: calc(100% - 7rem);
    width: calc(100% - 7rem);
    /* background-color: red; */
    left: 3.5rem;
    top: 3.5rem;
}

.connections circle {
    fill: #FBB13F;
}

.line {
    stroke: var(--elementColor);
    stroke-width: 1.5%;
}

.statusCircles {
    display: flex;
    align-items: center;
}

.statusCircle {
    background-color: red;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-left: 1rem;
}

#recommendation {
    height: calc(100% - 6.5rem);
    position: absolute;
    width: 100%;
    color: var(--fontColor2);
}

#recommendation table tr td {
    width: 100%;
    color: var(--fontColor2);
    font-size: 1.25rem;
    height: 2rem;
}

#recommendation table td:nth-child(2) {
    text-align: end;
}

#recommendation .subtitle,
#history .subtitle,
#allRooms .subtitle,
#roomOver .subtitle {
    margin-bottom: 1rem;
}

#history {
    margin-top: 2.5rem;
}

#history>svg {
    /* background-color: palegoldenrod; */
    width: 100%;
    height: 30rem;
}

#history .datePicker {
    width: 14rem;
    background-color: var(--elementColor);
    height: 2.5rem;
    border-radius: 0.65rem;
    /* overflow: hidden; */
    position: relative;
    margin-bottom: 1rem;
}

.datePickerArrows {
    width: 100%;
    height: 100%;
    display: flex;
}

.datePickerArrow {
    width: 100%;
}

#datePicked {
    /* position: absolute; */
    /* width: 100%; */
    text-align: center;
    left: 0;
    top: 0;
}

.datePickerOver {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.datePickerOver svg {
    top: 0;
    /* background-color: red; */
    /* margin: 1rem; */
    /* margin-left: 1rem; */
    height: 100%;
    width: 2.5rem;
}

.datePickerOver p {
    font-size: 1.25rem;
    line-height: 2.5rem;
    height: 100%;
    color: var(--fontColor2);
}

.unit {
    font-size: 0.3rem;
    color: var(--fontColor2);
    fill: var(--fontColor2);
}

#chartSwitches {
    /* background-color: red; */
    width: 90%;
    height: 5rem;
    left: 10%;
    position: relative;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--elementColor);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#solarSwitch input:checked+.slider {
    background-color: #FBB13F;
}

#houseSwitch input:checked+.slider {
    background-color: #553ffb;
}

#batterySwitch input:checked+.slider {
    background-color: #3ccf2c;
}

#gridSwitch input:checked+.slider {
    background-color: #fb3ff2;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switchContainer {
    display: flex;
    height: 3rem;
}

#chartSwitches p {
    width: 10rem;
    color: var(--fontColor2);
    font-size: 1.25rem;
}

#house {
    margin-top: 2.5rem;
}

#house input:checked+.slider {
    background-color: #3ccf2c;
}

#overviewHouse {
    width: 100%;
    /* height: 3rem; */
    aspect-ratio: 1 / 1;
    /* background-color: beige; */
}

.cardContent {
    display: flex;
    gap: 2.5rem;
}

#overviewHouse svg {
    width: 100%;
    height: 100%;
}

#overviewHouse circle {
    fill: red;
}

#overviewHouseSwitches {
    width: 100%;
    /* background-color: beige; */
}

#overviewHouseSwitches .switchContainer {
    width: 100%;
    /* background-color: red; */
    justify-content: space-between;
    color: var(--fontColor2);
    font-size: 1.25rem;
}

#lastUpdated {
    position: absolute;
    /* right: 2.5rem; */
    bottom: 2.5rem;
    width: 100%;
    text-align: center;
    color: var(--fontColor2);
}

.subcontent {
    width: 100%;
    height: 100%;
}

#homematic .card p,
#deviceList p {
    width: 10rem;
    color: var(--fontColor2);
    font-size: 1.25rem;
}

#homematic .switch input:checked+.slider {
    background-color: #3ccf2c;
}


/* #hmRollo .switch {
    transform: rotate(90deg);
} */

.btn {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.btn input {
    opacity: 0;
    width: 0;
    height: 0;
}

.shutters {
    /* background-color: red; */
    display: flex;
    gap: 10px;
}

.shutterArrow {
    width: 60px;
    height: 34px;
    /* background-color: #383874; */
    background-color: var(--elementColor);
    border-radius: 100px;
}

#hmsuccess {
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    /* width: 100%; */
    text-align: center;
    color: var(--fontColor2);
    visibility: hidden;
}

#allRooms {
    margin-top: 2.5rem;
}

#roomList {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    column-gap: 2.5rem;
}

#roomList .switchContainer {
    width: calc(50% - 2.5rem / 2);
}

#roomList .switchContainer p {
    width: 14rem;
}

#roomOver {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.217);
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 2.5rem;
    pointer-events: all;
    display: none;
}

.roomOverContent {
    background-color: white;
    border-radius: 0.65rem;
    padding: 1.25rem;
    position: relative;
}

.closeBtn {
    width: 60px;
    height: 34px;
    background-color: var(--elementColor);
    border-radius: 100px;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
}

#deviceList {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    column-gap: 2.5rem;
}

#deviceList .switchContainer {
    width: calc(50% - 2.5rem / 2);
}

#deviceList .switchContainer p {
    width: 14rem;
}

#mobileMenuBtn {
    display: none;
}

@media only screen and (max-device-width: 480px) {
    #sideMenu {
        display: none;
        z-index: 1;
    }
    #content {
        width: 100%;
        padding: 1rem;
    }
    .container {
        flex-direction: column;
        height: 100%;
    }
    .overviewCircles .circle {
        width: 6rem;
        height: 6rem;
    }
    #overview {
        margin-bottom: 2.5rem;
    }
    #overview .subtitle {
        margin-bottom: 1rem;
    }
    .element {
        height: 100%;
        height: 26.5rem;
        /* height: auto; */
    }
    #recommendation {
        height: 20rem;
    }
    #history>svg {
        width: 100%;
        height: auto;
        aspect-ratio: 1/ 1;
    }
    #chartSwitches {
        /* height: 30rem; */
        height: auto;
        gap: 0;
    }
    #chartSwitches .element {
        height: auto;
    }
    #mobileMenuBtn {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 1;
    }
    #homematic .element {
        height: auto;
    }
    .container {
        gap: 0;
    }
    #roomList {
        flex-direction: column;
    }
    #roomList .switchContainer {
        width: 100%;
    }
    #roomOver {
        left: 0;
        padding: 1rem;
    }
    #deviceList {
        flex-direction: column;
    }
    #deviceList .switchContainer {
        width: 100%;
    }
    #deviceList p {
        width: 100%;
    }
    #favs p {
        width: 100%;
    }
}